.customFirst{
	min-height: 350px;
	width: 100%;
	background: white;
	font-size: 20px;
	font-family: sans-serif;
	margin-top: 30px;
}
.text{
	margin-top: 10px;
	padding-top: 13px;
	font-size: 30px;
}
.text2{
	font-size: 28px;
}
li{
	display: inline;
 	padding-right: 10px;

 }
ul a{
 	color: #black;

 }
 .container{
 	margin: auto;
 }

.titleBar{
	height: 15px;
	font-size: 20px;
	padding:50px;


}
.linkBar{
	height: 15px;
	font-size: 20px;
	padding:50px;
	padding-right: 10px;
	text-decoration-color: black;


}
.SearchBar{
	height: 15px;
	font-size: 20px;
	padding:50px;
	padding-right: 10px;
	text-align: center;


}
.Header{
	background: silver;
	width: 100%;
	min-height: 400px; 
}

<--!
#.btn-primary.outline{
#color: blue;
#border: 2px solid blue;
#background:  rgba(0, 0, 0, 0.5);
-->
}
btn-outline{
	background: white;
	padding: 12px 25px;
}
.btn{
	padding: 14px;
	align: bottom;
	margin-left: 50px;


}
.btn-info{
	float: right;
	padding-bottom:  50px;
	margin-right:   150px;
	margin-bottom: 100px;
	padding: 15px; 
}