{% load static %}
<!DOCTYPE html>
<html>
<head>
	<div id="title">
		{%block title%}	<title>ASK THE SCHOOLS</title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    


    <div class="container">
    	<div class="row">
    		<div class="col-lg-4" >
    			<div class="titleBar">
    			<h4><span class="text-primary">A</span>sk the Schools</h4>
    		</div>
    			</div>
    		
    </div>

<div class="navbar navbar-inverse navbar-fixed-top">
    
</div>




{% endblock %}</div>

<div id="content">
{% block content%}
 {% endblock %}
</div>
</head>
<body>
    {% block footer %}
    <nav class="navbar navbar-default">
        <div class="navbar-collapse collapse">
            <ul class=" nav navbar-nav">
                <li><a href="{static '#'}">Term & Condition</a></li>
                <li><a href="{%  static '#' %}">contact us</a> </li>
                <form class="navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Search...">
                        <button class="btn btn-default" type="button">Search</button>
                    </div>
                    
                </form>
            </ul>
        </div>
    </nav>
    {% endblock  %}
</body>
</html>
