{% load static %}
<!DOCTYPE html>
<html>
<head>
	<div id="title">
		{%block title%}	<title>ASK THE SCHOOLS</title>
	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    


    <div class="container">
    	<div class="row">
    		<div class="col-lg-4" >
    			<div class="titleBar">
    			<h4><span class="text-primary">A</span>sk the Schools</h4>
    		</div>
    			</div>
    		
            <div class="col-lg-4 ">
            <div class="input-group">
             <span class="input-group-btn">
            <button class="btn btn-default" type="button">search</button>
             </span>
             <input type="text" class="form-control" placeholder ="Quick Search.."> 
                    
             </div>
                
            </div>
    		
    		<div class="col-lg-4">
    			<div class="linkBar">
       			<ul class="nav nav-pills">
    				<li class="active" ><a href="#">Home</a></li>
    				<li  ><a href="#">Login</a></li>
    				<li ><a href="#">Contact</a></li>
    			</ul>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}</div>

<div id="content">
{% block content%}
 {% endblock %}
</div>
</head>
</html>
