{% extends "base_generic.html" %}
{% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/style.css' %} ">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<body>
 <div class="container">
        <div class="row" >
            <div class="col-lg-12">
            <div  class="Header">
                <pre>
                <p class="text text-uppercase" align="center" >Select the <span class="text-info">Ideal</span> Institution For your <span class="text-primary">Kids</span></p>





                <p class=" text2 text-uppercase" align="center">Pick The Educational Level</p>
                </pre>
                <button  class="btn btn-primary outline" >Primary 
           & Pre-Primary School</button>
           <button class=" btn btn-info" >Secondary Schools</button>
            </div>
            </div>
        </div>
    </div>

</body>


